.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.site-description {
    margin-top: 10px;
    font-size: 1.2rem;
}

.auth-section {
    position: absolute;
    top: 20px;
    right: 20px;
}

.sign-in-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.sign-in-button:hover {
    background-color: #0056b3;
}

.user-profile-link {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.user-profile-link:hover {
    background-color: #218838;
}

.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sign-in-form input,
.sign-in-form select,
.sign-in-form textarea,
.sign-in-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
    font-size: 14px;
}

button {
    background-color: #555;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.error {
    color: red;
    font-size: 14px;
}

.App-footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    color: #6c757d;
    margin-top: auto;
}

.App-main {
    flex-grow: 1;
}

.book-list,
.book-card-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}
